Repository tkofh/coily: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.md": ["prettier --write"],
  "*.{ts,vue,js}": ["eslint --fix", "prettier --write"]
}

Extract reactive spring logic into a reusable module
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/spring.ts
  packages/coily/src/vue/spring2d.ts
  packages/coily/test/vue/use-spring.spec.ts
  packages/coily/test/vue/use-spring2d.spec.ts
Due: prettier --write, eslint --fix

Add `spring.settled` promise for animation sequencing
  .changeset/settled-promise.md
  packages/coily/README.md
  packages/coily/src/spring.ts
  packages/coily/src/spring2d.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/test/spring.spec.ts
  packages/coily/test/spring2d.spec.ts
  packages/coily/test/vue/use-spring.spec.ts
Due: prettier --write, eslint --fix

reduced motion
  .changeset/reduced-motion.md
  coily-api-proposal.md
  packages/coily/README.md
  packages/coily/src/motion-set.ts
  packages/coily/src/motion.ts
  packages/coily/src/spring.ts
  packages/coily/src/system.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/test/reduced-motion.spec.ts
  packages/coily/test/ticker.browser.ts
Due: prettier --write, eslint --fix

pool
  .changeset/imperative-spring-access.md
  packages/coily/README.md
  packages/coily/src/emitter.ts
  packages/coily/src/motion.ts
  packages/coily/src/spring.ts
  packages/coily/src/spring2d.ts
  packages/coily/src/vue/index.ts
  packages/coily/src/vue/local.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/system.ts
  packages/coily/test/spring.spec.ts
  packages/coily/test/spring2d.spec.ts
  packages/coily/test/vue/use-spring-pool.spec.ts
  packages/coily/test/vue/use-spring-system.spec.ts
Due: prettier --write, eslint --fix

flush-queue
  coily-api-proposal.md
  packages/coily/src/config.ts
  packages/coily/src/flush-queue.ts
  packages/coily/src/motion-set.ts
  packages/coily/src/spring2d.ts
  packages/coily/src/ticker.ts
  packages/coily/test/flush-queue.spec.ts
  packages/coily/test/linked-spring2d.spec.ts
  packages/coily/test/reduced-motion.spec.ts
  packages/coily/test/spring.bench.ts
  packages/coily/test/spring2d.spec.ts
  spring-object-proposal.md
Due: prettier --write, eslint --fix

Configure Zed and implement spring object animation
  .zed/settings.json
  packages/coily/src/index.ts
  packages/coily/src/shape-map.ts
  packages/coily/src/shape-node.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/spring.ts
  packages/coily/src/spring2d.ts
  packages/coily/src/system.ts
  packages/coily/test/linked-spring.spec.ts
  packages/coily/test/shape-map.spec.ts
  packages/coily/test/spring-object.spec.ts
Due: prettier --write, eslint --fix

Export types for shape validation and spring options
  packages/coily/src/config.ts
  packages/coily/src/index.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/system.ts
  packages/coily/test/spring-object.spec.ts
  packages/coily/test/spring-object.test-d.ts
Due: prettier --write, eslint --fix

Upgrade Vue peer dependency and add spring object Vue support
  packages/coily/package.json
  packages/coily/src/vue/index.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/spring-object.ts
  packages/coily/src/vue/spring.ts
  packages/coily/src/vue/spring2d.ts
  packages/coily/test/shape-map.spec.ts
  packages/coily/test/vue/use-spring-object.spec.ts
  packages/coily/test/vue/use-spring-object.test-d.ts
  packages/coily/test/vue/use-spring.spec.ts
Due: prettier --write, eslint --fix

Remove the Spring2D API, replace with spring objects
  .changeset/drop-multi-spring-arrays.md
  .changeset/drop-spring2d.md
  .changeset/same-frame-follow-propagation.md
  .changeset/spring-objects.md
  packages/coily/README.md
  packages/coily/src/index.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/spring2d.ts
  packages/coily/src/system.ts
  packages/coily/src/vector2.ts
  packages/coily/src/vue/index.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/spring2d.ts
  packages/coily/test/linked-spring2d.spec.ts
  packages/coily/test/reduced-motion.spec.ts
  packages/coily/test/spring-object.spec.ts
  packages/coily/test/spring-object.test-d.ts
  packages/coily/test/spring.bench.ts
  packages/coily/test/spring2d.spec.ts
  packages/coily/test/vue/use-spring-object.test-d.ts
  packages/coily/test/vue/use-spring-pool.spec.ts
  packages/coily/test/vue/use-spring2d.spec.ts
  packages/playground-nuxt/app/pages/chain.vue
  packages/playground-nuxt/app/pages/index.vue
Due: prettier --write, eslint --fix

Fix changeset YAML quoting and formatting
  .changeset/drop-engines-constraint.md
  .changeset/drop-multi-spring-arrays.md
  .changeset/drop-spring2d.md
  .changeset/imperative-spring-access.md
  .changeset/lifecycle-event-semantics.md
  .changeset/reduced-motion.md
  .changeset/same-frame-follow-propagation.md
  .changeset/settled-promise.md
  .changeset/single-update-per-frame.md
  .changeset/spring-config-value-semantics.md
  .changeset/spring-objects.md
  .changeset/strict-spring-option-shapes.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .zed/settings.json
  CLAUDE.md
  RELEASING.md
  package.json
  packages/coily/CHANGELOG.md
  packages/coily/README.md
  packages/coily/test/properties.spec.ts
  packages/coily/test/util.spec.ts
  packages/playground-nuxt/app/pages/chain.vue
  packages/playground-nuxt/nuxt.config.ts
Due: prettier --write, eslint --fix

Refactor lint, format, and check scripts
  .github/workflows/ci.yml
  package.json
  packages/coily/package.json
  packages/playground-nuxt/package.json
  packages/playground-vanilla/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add vsync-native ticker and precision fixes
  .changeset/nuxt-ticker-options.md
  .changeset/retarget-raw-rebase.md
  .changeset/vsync-native-ticker.md
  packages/coily/README.md
  packages/coily/src/motion-set.ts
  packages/coily/src/motion.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/coily/src/state.ts
  packages/coily/src/system.ts
  packages/coily/src/ticker.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/test/spring.spec.ts
  packages/coily/test/system.spec.ts
  packages/coily/test/ticker.spec.ts
Due: prettier --write, eslint --fix

Make precision control only the resting threshold
  .changeset/exact-reads-envelope-rest.md
  .changeset/retarget-raw-rebase.md
  PRECISION.md
  packages/coily/README.md
  packages/coily/src/config.ts
  packages/coily/src/motion.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/coily/src/state.ts
  packages/coily/test/properties.spec.ts
  packages/coily/test/spring.spec.ts
  packages/coily/test/state.spec.ts
Due: prettier --write, eslint --fix

Replace nuxt prepare postinstall with conditional script
  packages/playground-nuxt/package.json
  packages/playground-nuxt/postinstall.mjs
Due: none

Simplify CI workflows with containerized Playwright
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/coily/package.json
  packages/coily/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Update turbo.json
  turbo.json
Due: none

blank slate
  packages/coily/src/flush-queue.ts
  packages/coily/src/motion-set.ts
  packages/coily/src/motion.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/spring.ts
  packages/coily/src/state.ts
  packages/coily/src/system.ts
  packages/coily/src/ticker.ts
  packages/coily/src/vue/local.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/spring-object.ts
  packages/coily/src/vue/spring.ts
  packages/coily/src/vue/system.ts
Due: prettier --write, eslint --fix

Update motion-set.ts
  packages/coily/src/motion-set.ts
Due: prettier --write, eslint --fix

Simplify config resolution by requiring SpringConfig instances
  .changeset/spring-objects.md
  packages/coily/src/shape-map.ts
  packages/coily/src/shape-node.ts
  packages/coily/src/spring-object.ts
  packages/coily/test/shape-map.spec.ts
  packages/coily/test/spring-object.spec.ts
  packages/coily/test/spring-object.test-d.ts
  packages/coily/test/vue/use-spring-object.spec.ts
  packages/coily/test/vue/use-spring-object.test-d.ts
Due: prettier --write, eslint --fix

Normalize YAML quotes and remove redundant linting comment
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/coily/test/spring.bench.ts
Due: prettier --write, eslint --fix

Refactor shape traversal methods and terminology
  packages/coily/README.md
  packages/coily/src/shape-map.ts
  packages/coily/src/shape-node.ts
  packages/coily/src/spring-object.ts
  packages/coily/test/shape-map.spec.ts
  packages/playground-nuxt/app/pages/chain.vue
  packages/playground-nuxt/app/pages/index.vue
  spring-object-proposal.md
Due: prettier --write, eslint --fix

Refactor shape traversal methods and terminology
  .changeset/readonly-input-shapes.md
  packages/coily/src/channel-tree-node.ts
  packages/coily/src/channel-tree.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/util.ts
  packages/coily/test/channel-tree.spec.ts
Due: prettier --write, eslint --fix

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Remove operation type interfaces in favor of inline parameters
  packages/coily/src/channel-tree-node.ts
  packages/coily/src/channel-tree.ts
  packages/coily/src/util.ts
Due: prettier --write, eslint --fix

Channel tree (#11)
  .changeset/readonly-input-shapes.md
  packages/coily/README.md
  packages/coily/src/channel-tree-node.ts
  packages/coily/src/channel-tree.ts
  packages/coily/src/shape-node.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/util.ts
  packages/coily/test/channel-tree.spec.ts
  packages/playground-nuxt/app/pages/chain.vue
  packages/playground-nuxt/app/pages/index.vue
  pnpm-lock.yaml
  spring-object-proposal.md
Due: prettier --write, eslint --fix

Sync pnpm-lock.yaml when versioning packages
  package.json
Due: none

Sync pnpm-lock.yaml when versioning packages (#13)
  package.json
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

Add documentation conventions and class-level doc comments
  CLAUDE.md
  packages/coily/src/config.ts
  packages/coily/src/emitter.ts
  packages/coily/src/flush-queue.ts
  packages/coily/src/motion-set.ts
  packages/coily/src/motion.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/spring.ts
  packages/coily/src/state.ts
  packages/coily/src/system.ts
  packages/coily/src/ticker.ts
  packages/coily/src/util.ts
  packages/coily/src/vue/component.ts
  packages/coily/src/vue/local.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/spring-object.ts
  packages/coily/src/vue/spring.ts
  packages/coily/src/vue/system.ts
  packages/coily/test/spring.spec.ts
Due: prettier --write, eslint --fix

Create comment-doctor-pass.md
  .changeset/comment-doctor-pass.md
Due: prettier --write

Update comment-doctor-pass.md
  .changeset/comment-doctor-pass.md
Due: prettier --write

Comments (#14)
  .changeset/comment-doctor-pass.md
  CLAUDE.md
  packages/coily/src/config.ts
  packages/coily/src/emitter.ts
  packages/coily/src/flush-queue.ts
  packages/coily/src/motion-set.ts
  packages/coily/src/motion.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/spring.ts
  packages/coily/src/state.ts
  packages/coily/src/system.ts
  packages/coily/src/ticker.ts
  packages/coily/src/util.ts
  packages/coily/src/vue/component.ts
  packages/coily/src/vue/local.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/spring-object.ts
  packages/coily/src/vue/spring.ts
  packages/coily/src/vue/system.ts
  packages/coily/test/spring.spec.ts
Due: prettier --write, eslint --fix

Simplify createSpring to handle both scalars and shapes
  .changeset/merge-create-spring.md
  packages/coily/README.md
  packages/coily/src/index.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/spring.ts
  packages/coily/src/system.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/spring-object.ts
  packages/coily/src/vue/spring.ts
  packages/coily/test/linked-spring.spec.ts
  packages/coily/test/properties.spec.ts
  packages/coily/test/reduced-motion.spec.ts
  packages/coily/test/solver.spec.ts
  packages/coily/test/spring-lifecycle.spec.ts
  packages/coily/test/spring-object.spec.ts
  packages/coily/test/spring-object.test-d.ts
  packages/coily/test/spring.bench.ts
  packages/coily/test/spring.spec.ts
  packages/coily/test/system.spec.ts
  packages/coily/test/ticker.browser.ts
  packages/coily/test/util.spec.ts
  packages/coily/test/vue/use-spring-object.spec.ts
  packages/coily/test/vue/use-spring-object.test-d.ts
  packages/coily/test/vue/use-spring-pool.spec.ts
  packages/playground-nuxt/app/pages/chain.vue
  spring-object-proposal.md
Due: prettier --write, eslint --fix

Add changeset for spring source and offset generalization
  .changeset/spring-source-map.md
  packages/coily/README.md
  packages/coily/src/channel-tree-node.ts
  packages/coily/src/channel-tree.ts
  packages/coily/src/emitter.ts
  packages/coily/src/index.ts
  packages/coily/src/motion.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/spring-source.ts
  packages/coily/src/spring.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/spring.ts
  packages/coily/test/channel-tree.spec.ts
  packages/coily/test/linked-spring.spec.ts
  packages/coily/test/spring-object.spec.ts
  packages/coily/test/spring-object.test-d.ts
  packages/coily/test/spring.spec.ts
  spring-object-proposal.md
Due: prettier --write, eslint --fix

Rename `SpringConfig` to `SpringDefinition` and `SpringOptions` to `SpringDefinitionOptions`
  .changeset/spring-definition-rename.md
  packages/coily/README.md
  packages/coily/src/config.ts
  packages/coily/src/index.ts
  packages/coily/src/motion.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring-object.ts
  packages/coily/src/spring-source.ts
  packages/coily/src/spring.ts
  packages/coily/src/state.ts
  packages/coily/src/system.ts
  packages/coily/src/vue/component.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/spring-object.ts
  packages/coily/test/spring-object.spec.ts
  packages/coily/test/spring-object.test-d.ts
  packages/coily/test/state.spec.ts
  packages/coily/test/ticker.spec.ts
  packages/coily/test/vue/use-spring-object.test-d.ts
  packages/coily/test/vue/use-spring.spec.ts
Due: prettier --write, eslint --fix

Add `mapSpring` shape overload to combine multiple sources
  .changeset/map-spring-shapes.md
  packages/coily/README.md
  packages/coily/src/index.ts
  packages/coily/src/spring-source.ts
  packages/coily/src/spring.ts
  packages/coily/test/linked-spring.spec.ts
  packages/coily/test/spring-source.test-d.ts
Due: prettier --write, eslint --fix

Rename `SpringObject` to `CompositeSpring` and make sources generic
  .changeset/comment-doctor-pass.md
  .changeset/composite-sources.md
  .changeset/composite-spring-rename.md
  .changeset/create-spring-follow.md
  .changeset/merge-create-spring.md
  .changeset/spring-source-map.md
  packages/coily/README.md
  packages/coily/src/composite-spring.ts
  packages/coily/src/flush-queue.ts
  packages/coily/src/index.ts
  packages/coily/src/spring-source.ts
  packages/coily/src/spring.ts
  packages/coily/src/system.ts
  packages/coily/src/vue/composite-spring.ts
  packages/coily/src/vue/index.ts
  packages/coily/src/vue/nuxt.ts
  packages/coily/src/vue/pool.ts
  packages/coily/src/vue/reactive-spring.ts
  packages/coily/src/vue/spring.ts
  packages/coily/test/composite-spring.spec.ts
  packages/coily/test/composite-spring.test-d.ts
  packages/coily/test/linked-spring.spec.ts
  packages/coily/test/reduced-motion.spec.ts
  packages/coily/test/spring-source.test-d.ts
  packages/coily/test/spring.bench.ts
  packages/coily/test/vue/use-composite-spring.spec.ts
  packages/coily/test/vue/use-composite-spring.test-d.ts
  packages/playground-nuxt/app/pages/chain.vue
Due: prettier --write, eslint --fix

Add composite spring targets mixing numbers and sources per channel
  .changeset/composite-channel-targets.md
  packages/coily/README.md
  packages/coily/src/channel-tree-node.ts
  packages/coily/src/channel-tree.ts
  packages/coily/src/composite-spring.ts
  packages/coily/src/index.ts
  packages/coily/test/channel-tree.spec.ts
  packages/coily/test/composite-spring.spec.ts
  packages/coily/test/composite-spring.test-d.ts
  packages/coily/test/spring-source.test-d.ts
Due: prettier --write, eslint --fix
