Repository tkofh/coily: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.md": ["prettier --write"],
  "*.{ts,vue,js}": ["eslint --fix", "prettier --write"]
}

chore(release): publish
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: prettier --write

chore: update deps
  package.json
  packages/coily/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: none

feat: emit on spring system simulate
  packages/coily/src/createSpringSystem.ts
  packages/coily/src/types.ts
Due: prettier --write, eslint --fix

fix: keep obj reference to config to allow updating
  packages/coily/src/lib/createSpring.ts
Due: prettier --write, eslint --fix

chore: deps
  package.json
  packages/coily/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: none

feat: allow writing to value and velocity
  packages/coily/__tests__/createSpring.spec.ts
  packages/coily/src/lib/createSpring.ts
  packages/coily/src/types.ts
Due: prettier --write, eslint --fix

vue, changeset
  .changeset/README.md
  .changeset/config.json
  .husky/pre-commit
  .husky/prepare-commit-msg
  biome.json
  bun.lockb
  package.json
  packages/coily/src/api.ts
  packages/coily/src/emitter.ts
  packages/coily/src/loop.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/playground-vanilla/package.json
  packages/playground-vue/.gitignore
  packages/playground-vue/.vscode/extensions.json
  packages/playground-vue/README.md
  packages/playground-vue/index.html
  packages/playground-vue/package.json
  packages/playground-vue/public/vite.svg
  packages/playground-vue/src/App.vue
  packages/playground-vue/src/Playground.vue
  packages/playground-vue/src/main.ts
  packages/playground-vue/src/style.css
  packages/playground-vue/src/vite-env.d.ts
  packages/playground-vue/tsconfig.json
  packages/playground-vue/tsconfig.node.json
  packages/playground-vue/vite.config.ts
  packages/vue/README.md
  packages/vue/package.json
  packages/vue/src/injection.ts
  packages/vue/src/spring.ts
  packages/vue/src/system.ts
  tsconfig.json
  turbo.json
Due: prettier --write, eslint --fix

versions
  package.json
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/src/App.vue
  packages/vue/package.json
Due: prettier --write, eslint --fix

fix
  .npmrc
  bun.lockb
  package.json
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/playground-vue/src/Playground.vue
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  packages/vue/src/spring.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

release
  package.json
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/coily/src/scheduler.ts
  packages/coily/src/spring.ts
  packages/coily/test/scheduling.spec.ts
Due: prettier --write, eslint --fix

add component and nuxt module to vue integration
  .changeset/eighty-cougars-hammer.md
  .husky/pre-commit
  .husky/prepare-commit-msg
  biome.json
  package.json
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/coily/src/spring.ts
  packages/playground-nuxt/.gitignore
  packages/playground-nuxt/README.md
  packages/playground-nuxt/app.vue
  packages/playground-nuxt/nuxt.config.ts
  packages/playground-nuxt/package.json
  packages/playground-nuxt/public/favicon.ico
  packages/playground-nuxt/server/tsconfig.json
  packages/playground-nuxt/tsconfig.json
  packages/playground-vanilla/CHANGELOG.md
  packages/playground-vanilla/package.json
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/playground-vue/src/vite-env.d.ts
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  packages/vue/src/component.ts
  packages/vue/src/nuxt.ts
  packages/vue/src/system.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

onStart and onStop hooks, better component types
  .changeset/eighty-cougars-hammer.md
  .husky/pre-commit
  .husky/prepare-commit-msg
  biome.json
  package.json
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/coily/src/system.ts
  packages/coily/test/scheduling.spec.ts
  packages/playground-nuxt/package.json
  packages/playground-vanilla/package.json
  packages/playground-vanilla/src/main.ts
  packages/playground-vanilla/src/style.css
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  packages/vue/src/component.ts
  packages/vue/src/nuxt.ts
  packages/vue/src/spring.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/tsconfig/package.json
  tooling/tsconfig/root.json
  tooling/tsconfig/workspace.json
  turbo.json
Due: prettier --write, eslint --fix

changsets
  .changeset/selfish-cobras-trade.md
  .changeset/sour-rats-doubt.md
Due: prettier --write

fix test script
  packages/coily/package.json
Due: none

rename publish script
  package.json
Due: none

remove useless prepublish script
  packages/vue/package.json
Due: none

release
  .changeset/selfish-cobras-trade.md
  .changeset/sour-rats-doubt.md
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: prettier --write

fix sync updates to target and value
  .changeset/quiet-readers-wave.md
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/coily/test/scheduling.spec.ts
Due: prettier --write, eslint --fix

chore: release
  .changeset/quiet-readers-wave.md
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: prettier --write

fix timing and events
  .changeset/healthy-stingrays-attack.md
  .changeset/honest-ducks-chew.md
  packages/coily/src/spring.ts
  packages/playground-nuxt/app.vue
  packages/vue/src/injection.ts
  packages/vue/src/nuxt.ts
  packages/vue/src/spring.ts
Due: prettier --write, eslint --fix

jumpTo
  .changeset/healthy-stingrays-attack.md
  .changeset/honest-ducks-chew.md
  .changeset/tiny-points-dress.md
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/coily/src/spring.ts
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  packages/vue/src/spring.ts
Due: prettier --write, eslint --fix

version packages, fix weird type error
  .changeset/tiny-points-dress.md
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  packages/vue/src/system.ts
Due: prettier --write, eslint --fix

build as esm, eager events
  .changeset/poor-needles-bow.md
  .changeset/shaggy-badgers-speak.md
  .changeset/wise-shirts-suffer.md
  package.json
  packages/coily/build.config.ts
  packages/coily/package.json
  packages/coily/src/api.ts
  packages/coily/src/loop.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/coily/src/system.ts
  packages/coily/tsconfig.json
  packages/playground-vanilla/src/main.ts
  packages/vue/build.config.ts
  packages/vue/package.json
  packages/vue/src/spring.ts
  packages/vue/src/system.ts
  packages/vue/tsconfig.json
  pnpm-lock.yaml
  tooling/tsconfig/root.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore: version
  .changeset/poor-needles-bow.md
  .changeset/shaggy-badgers-speak.md
  .changeset/wise-shirts-suffer.md
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: prettier --write

fix initial state
  .changeset/many-coins-drive.md
  packages/coily/package.json
  packages/coily/src/spring.ts
  packages/coily/src/system.ts
  packages/coily/test/spring.spec.ts
  packages/coily/vitest.config.ts
  packages/vue/package.json
  packages/vue/src/spring.ts
  packages/vue/test/__screenshots__/reactivity.spec.ts/initial-state-springs-start-with-the-correct-value-1.png
  packages/vue/test/fixtures/initial-state/Child.vue
  packages/vue/test/fixtures/initial-state/Parent.vue
  packages/vue/test/reactivity.spec.ts
  packages/vue/tsconfig.json
  packages/vue/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: version
  .changeset/many-coins-drive.md
  packages/coily/CHANGELOG.md
  packages/coily/package.json
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  packages/vue/src/spring.ts
Due: prettier --write, eslint --fix

remove logs
  .changeset/khaki-deers-decide.md
  packages/vue/src/spring.ts
Due: prettier --write, eslint --fix

version from who knows when
  .changeset/khaki-deers-decide.md
  packages/playground-vue/CHANGELOG.md
  packages/playground-vue/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: prettier --write

changeset, paths
  .changeset/tough-pumas-nail.md
  .zed/settings.json
  packages/coily/src/index.ts
  packages/coily/src/loop.ts
  packages/coily/src/scheduler.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/coily/src/state.ts
  packages/coily/src/system.ts
  packages/coily/src/vue/component.ts
  packages/coily/src/vue/index.ts
  packages/coily/src/vue/spring.ts
  packages/coily/src/vue/system.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Update settings.json
  .zed/settings.json
Due: none

Update index.ts
  packages/coily/src/vue/index.ts
Due: prettier --write, eslint --fix

Update index.ts
  packages/coily/src/index.ts
Due: prettier --write, eslint --fix

Update tsconfig.json
  packages/playground-vanilla/tsconfig.json
Due: none

Update tsconfig.json
  packages/playground-vue/tsconfig.json
Due: none

bug fixes
  .changeset/fix-solver-regime-switch.md
  .changeset/ticker-rewrite.md
  .changeset/vue-improvements.md
  packages/coily/src/emitter.ts
  packages/coily/src/loop.ts
  packages/coily/src/solver.ts
  packages/coily/src/spring.ts
  packages/coily/src/ticker.ts
  packages/coily/src/vue/component.ts
  packages/coily/src/vue/spring.ts
  packages/coily/src/vue/system.ts
Due: prettier --write, eslint --fix
